apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://host.docker.internal:9090
    isDefault: true
    uid: DS_PROMETHEUS
  - name: Loki
    type: loki
    access: proxy
    url: http://host.docker.internal:3100
    jsonData:
      tracesToLogs:
        datasourceUid: 'loki'  
  - name: Tempo
    type: tempo
    access: proxy
    url: http://host.docker.internal:3200
    jsonData:
      tracesToLogs:
        datasourceUid: 'loki'
