global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'spring-boot-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:30506']  # If app is on host, and Prometheus in Docker
        labels:
          application: 'api-tutorial'